body
{
	overflow-x: hidden !important;
	padding-top: 20px;
}

.sort
{
	float: right !important;
}

.sidePane
{
	margin-top: 50px;
	text-transform: capitalize;
}

.resultTitle
{
	margin-top: 10px;
	font-size: 18px;
}

.resultContent
{
	font-size: 16px;
	text-align: justify;
}

.resultLocality
{
	font-size: 14px;
}

.resultRating
{
	color: gold;
}

.resultRange
{
	font-size: 14px;
}
.resultPhone
{
	font-size: 14px;
}
.resultPost
{
	font-size: 14px;
}

